@model BootstrapIntroduction.Models.Person
@{
    ViewBag.Title = "Advanced";
}

<h2>Hello <span data-bind="text: getName()"></span></h2>

@section scripts
{
    <script>
        function ViewModel(firstName, lastName) {
            var self = this;
            self.name = firstName + ' ' + lastName;
            self.getName = function() {
                return self.name;
            };
        };

        var model = new ViewModel('@Model.FirstName', '@Model.LastName');
        ko.applyBindings(model);
    </script>
}

